<header>
  <div class="row">
  <div class="col-sm-4 text-center">
    <img class="logo" src="https://www.hcltech.com/sites/default/files/styles/large/public/images/guideline_based1.png?itok=JdASqCkG">    
  </div>
  <div class="col-sm-4 text-center">
    <h2>Employee Catalogue Tool</h2>
  </div>
 </div>
</header>

  <li><a routerLink="">Login</a></li>


  <nav class='navbar navbar-default'>
<ul class="nav navbar-nav">
 
    <li><a routerLink="home">Home</a></li>

<li><a routerLink="aboutus">About us</a></li>
<li><a routerLink="contactus">Contact us</a></li>
<li><a routerLink="valid">View the structure</a></li>
</ul>
</nav>
  
<nav class='navbar navbar-default'>
<ul class="nav navbar-nav">
 
    <li><a routerLink="home">Home</a></li>
<li><a routerLink="github/{{title}}">Profile</a></li>
<li><a routerLink="servicea">View</a></li>
<li><a routerLink="serviceb">Compose</a></li>
<li><a routerLink="valid">Access Request</a></li>
<li><a routerLink="pathrouting/{{title}}">Settings</a></li> <!--<li><a routerLink="pathrouting/:username">PathRouting</a></li> -->
</ul>
</nav>
<router-outlet></router-outlet>
<footer class="container-fluid text-center">
  <p>&copy;HCL copyright</p>
</footer>
<div class="text-center">
    <p>
        <a href="http://WWW.MAIL.HCL.COM" target="_top">To access webmail, click here</a>
    </p>
    <p>
        <a href="http://www.myHcl.com" target="_top">MyHcl.com</a>
    </p>
      
</div>