<header>
  <div class="row">
  <div class="col-sm-4 text-center">
    <img class="logo" src="https://www.hcltech.com/sites/default/files/styles/large/public/images/guideline_based1.png?itok=JdASqCkG">    
  </div>
  <div class="col-sm-4 text-center">
    <h2>Employee Catalogue Tool</h2>
  </div>
 
</div>
</header>


<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<footer class="container-fluid text-center">
  <p>&copy;HCL copyright</p>
</footer>
<div class="text-center">
    <p>
        <a href="http://WWW.MAIL.HCL.COM" target="_top">To access webmail, click here</a>
    </p>
    <p>
        <a href="http://www.myHcl.com" target="_top">MyHcl.com</a>
    </p>
      
</div>